.flex{
    display: flex;
}

.item-center {
align-items: center;
}


.justify-center{
    justify-content: center;

}

.uppercase{
    text-transform: uppercase;
}

.boldwala{
    font-weight: bolder;
}

.space-between{
    justify-content: space-between;
}


.mx-2{
    margin-left: 12px;
    margin-right: 12px;
}


.flex-wrap{
    flex-wrap: wrap;
    flex-wrap: nowrap;
}

